In [1]:
import pandas as pd

In [36]:
df = pd.read_csv("./raw_data/Chicago_taxi_trips2016.csv", iterator=True, chunksize=1000)
tripdata = df.get_chunk(10000)
tripdata.shape

(10000, 24)

In [37]:
tripdata.head()

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Pickup O'Hare Community Area,...,Extras,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
0,8c9820551cbab799890cdaea05dca9b43fe92bae,bfec2c659fcbed3b508dc6caaf6f7ef39e17801e8ca0cc...,04/25/2016 5:45:00 PM,04/25/2016 6:00:00 PM,780.0,5.3,NaN,NaN,8.0,0.0,...,$0.00,$16.00,Cash,Northwest Management LLC,41.899602,-87.633308,POINT (-87.6333080367 41.899602111),41.965812,-87.655879,POINT (-87.6558787862 41.96581197)
1,8c98238622adf043b13480a42104acc3fe8d326e,f45c4bfa9d6c445eb03ab69093f7ec1e9cdecef83cb2ce...,11/16/2016 3:30:00 PM,11/16/2016 3:45:00 PM,420.0,1.8,1.703132e+10,1.703133e+10,32.0,0.0,...,$1.00,$9.75,Credit Card,Choice Taxi Association,41.877406,-87.621972,POINT (-87.6219716519 41.8774061234),41.859350,-87.617358,POINT (-87.6173580061 41.859349715)
2,8c9824b8455b957c0725d196bf811e6c982a2c40,ecfb6f2cdce5d4c4e80218f58070ae719060ee47e648f4...,01/15/2016 5:15:00 PM,01/15/2016 5:45:00 PM,1140.0,4.2,NaN,NaN,32.0,0.0,...,$0.00,$14.75,Cash,Top Cab Affiliation,41.878866,-87.625192,POINT (-87.6251921424 41.8788655841),41.944227,-87.655998,POINT (-87.6559981815 41.9442266014)
3,8c982642e78c0a2f93eae455649513d811e072b2,7d8179131ea9952793af4cda8635e94b56c2b92d3c376c...,01/20/2016 9:30:00 PM,01/20/2016 9:30:00 PM,420.0,1.4,1.703132e+10,1.703184e+10,32.0,0.0,...,$0.00,$7.25,Cash,Taxi Affiliation Services,41.884987,-87.620993,POINT (-87.6209929134 41.8849871918),41.880994,-87.632746,POINT (-87.6327464887 41.8809944707)
4,8c9828d092bf36f439b5d88f00065c83da0fd059,d5c4fbae1c0c510364404a90fd477b19f7f03408ce40ff...,02/11/2016 8:45:00 AM,02/11/2016 9:15:00 AM,1380.0,0.2,NaN,NaN,35.0,0.0,...,$0.00,$18.75,Credit Card,Taxi Affiliation Services,41.835118,-87.618678,POINT (-87.6186777673 41.8351179863),41.878866,-87.625192,POINT (-87.6251921424 41.8788655841)

In [38]:
td_cl = tripdata.dropna(axis=0, subset=['Pickup Centroid Latitude','Pickup Centroid Longitude', \
                                        'Dropoff Centroid Latitude', 'Dropoff Centroid Longitude'])

In [39]:
td_cl.shape

(9687, 24)

In [53]:
td_cl.iloc[0,2]

'04/25/2016 5:45:00 PM'

In [ ]:
def